#hangout {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar {
  box-shadow: 0 8px 13px 6px rgb(0 0 0 / 9%);

  background-color: #fcfcfd;

  display: inline-block;
  height: 100vh;

  position: fixed;

  width: 400px;

  z-index: 111;

  transform: translateX(0);
  transition: transform 0.5s ease;

  box-sizing: border-box;
}

.sidebarHidden {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

#sidebarHeader {
  padding: 15px 25px;
}

#scrollbarDiv {
  height: calc(100% - 59.6px);
  width: 100%;
}

#conversationListBottomDiv {
  margin-bottom: 30px;
}

.content {
  height: 100%;

  margin-left: 0;
  transition: margin 0.5s ease, transform 0.5s ease;
}

.contentMax {
  margin-left: 400px;
  transition: margin 0.5s ease, transform 0.5s ease;
}

#friendsButton {
  border: none;
  background: #484;
  color: #fff;
  padding: 30px;
}

#canvasDiv {
  width: 100%;
  height: 500px;

  box-shadow: 0 8px 13px 6px rgb(0 0 0 / 9%);
}

.conversations {
  height: 100%;
  overflow-y: scroll;
}

.conversation {
  width: calc(100% - 42px);
  padding: 15px 0;
  height: 60px;

  display: flex;
  align-items: center;

  padding: 15px 20px;
  /* box-sizing: border-box; */

  cursor: pointer;
}

.conversation:hover {
  background: #eee;
}

.conversationProfilePic {
  background: #eee;

  display: block;

  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;

  border: #fff 1px solid;
}

.conversationNameTimeDiv {
  display: flex;
  justify-content: space-between;
}

.conversationName {
}

.conversationTime {
}

.conversationPreviewDiv {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.conversationPreview {
  width: 220px;
  text-overflow: ellipsis;
}

.conversationNameTimePreviewDiv {
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  width: 100%;
}

#messagingDiv {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: column;
}

#messagingHeaderDiv {
  height: 60px;
  width: 100%;
  box-shadow: 0 8px 13px 6px rgb(0 0 0 / 9%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 30px;
  box-sizing: border-box;
}

#messages {
  width: 100%;

  flex: 1 1 auto;
}

#messageInputDiv {
  height: 40px;
  max-width: calc(min(800px, 50%));
  width: 100%;

  margin: 0 auto;

  padding-bottom: 50px;
}

#messageInputSubDiv {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#messageInput {
  width: calc(100% - 70px);
  height: 100%;

  border: none;
  outline: none;
  box-shadow: 0 8px 13px 6px rgb(0 0 0 / 9%);
  border-radius: 5px;

  padding: 0 10px;
  box-sizing: border-box;
}

#birbDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 8px 13px 6px rgb(0 0 0 / 9%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.birb {
  width: 25px;
}

.birbPending path {
  width: 90px;
  fill: #ddd !important;
  cursor: unset;
}
