.inputDiv {
  width: 100%;
}

.inputDiv label {
  font-size: 14px;
  color: #484;
}

.inputDiv input {
  line-height: 18px;

  border: none;
  border-bottom: 1px solid #000;

  padding: 0;

  background: none;
  outline: none;

  width: 100%;

  font-size: 16px;
}
